
.parent{
   width: 800px;
    height: auto;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
}

.expense-management {
    max-width: 300px;
    margin-right:30px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: box-shadow 0.3s ease;
}

.expense-management:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

h1 {
    margin-top: 0;
    text-align: center;
    color: #333;
    font-size: 2em;
    font-weight: 600;
}

.expense-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input, select {
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color:blue;
    outline: none;
}

button {
    background-color: blue;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    margin: 10px;
    align-items: center;
}

button:hover {
    background-color:darkblue;
    transform: translateY(-1px);
}

h2 {
    margin-top: 30px;
    color: #555;
    font-weight: 500;
}

.expense-list-container {
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.expense-list {
    list-style-type: none;
    padding: 0;
}

.expense-item {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.expense-item:hover {
    background-color: #e9ecef;
}

.edit-button {
    background-color:blue;
    margin-left: 10px;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.edit-button:hover {
    background-color:darkblue;
    transform: translateY(-1px);
}

.approved {
    background-color: #d4edda;
    border-left: 5px solid blue;
}

.summary {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
    border: 1px solid #ccc;
}
.expence-list-detail{
    width: 100%;
}
.delete-button {
    margin-left: 10px;
    background-color: #FF3B30; /* Red color for delete */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.delete-button:hover{
    background-color: darkred;
}


@media (max-width: 600px) {
    .expense-form {
        padding: 15px;
    }

    input, select, button {
        font-size: 14px;
    }

    .expense-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .edit-button {
        margin-left: 0;
        margin-top: 5px;
    }
}
